<div class="card position-absolute top-50 start-50 translate-middle w-50">
  <div class="card-header">
    <h1>Jedi Master Yoda's Wisdom Emporium</h1>
  </div>

  <div class="card-body">
    <p>A question, you seek, hmmm?</p>

    <form action="/answer" data-turbo="false">
      <div class="input-group">
        <input type="text" name="question" class="form-control">
        <input type="submit" value="Ask!" class="btn btn-primary" >
      </div>
    </form>
  </div>

  <div class="card-footer text-muted text-center">
    <%# <p>"Success isn't permanent, and failure isn't fatal." - Mike Ditka</p> %>
    </p>
      "<%= Faker::Quote.yoda %>" - Yoda
    <p>
  </div>
</div>
